* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat';
    background-color: #F2E8CF;
}

#root {
    display: grid;
    grid-template-areas:
        "navbar navbar navbar"
        "main main main"
        "footer footer footer"
}

#pokeimage {
    width: 35px;
    aspect-ratio: 1 / 1;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


nav {
    grid-area: navbar;
    font-weight: bold;

    background-color: #386641;
    color: #F2E8CF;
    font-size: 1.75rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav .nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.625rem;
    padding: 0.625rem;
}

main {
    grid-area: main;
    margin: 10px;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 0.675rem;
    margin: 20px;
}

.card {
    padding: 0.675rem;
    border: 2px solid #BC4749;
    border-radius: 10px;
}

.card-img {
    display: flex;
    justify-content: center;
}

.card-img img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.card-title {
    display: flex;
    justify-content: flex-start;
    font-weight: 600;
}

.card-name {
    display: flex;
    font-weight: bolder;
    justify-content: center;
}